#DATABASE_URL="postgresql://luckwheeluser:luckwheel2022%40@localhost:5432/nuances"
#NEXTAUTH_SECRET="secret-32-chars-minimum"
#NEXTAUTH_URL="http://localhost:3000"
#NEXT_PUBLIC_APP_URL="http://localhost:3000"
#NEXT_PUBLIC_WHATSAPP="21696557557"
#RESEND_API_KEY="re_xxxxxxxxxxxx"
#FROM_EMAIL="commandes@votredomaine.com"
#ADMIN_EMAIL="admin@votredomaine.com"
#ANTHROPIC_API_KEY="sk-ant-xxxxxxxxxxxx"
#CRON_SECRET_KEY="secret-aleatoire"
#UPLOADTHING_SECRET=""
#UPLOADTHING_APP_ID=""
DATABASE_URL="postgresql://postgres:123@localhost:8080/nuances_db"
NEXTAUTH_SECRET="nuances-parfums-secret-2026"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP="21696557557"
RESEND_API_KEY=""
FROM_EMAIL=""
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
